USE [PaymentService29Jun]
GO
/****** Object:  Table [dbo].[PaymentDetails]    Script Date: 03-08-2024 22:18:05 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PaymentDetails]') AND type in (N'U'))
DROP TABLE [dbo].[PaymentDetails]
GO
USE [master]
GO
/****** Object:  Database [PaymentService29Jun]    Script Date: 03-08-2024 22:18:05 ******/
DROP DATABASE [PaymentService29Jun]
GO
/****** Object:  Database [PaymentService29Jun]    Script Date: 03-08-2024 22:18:05 ******/
CREATE DATABASE [PaymentService29Jun]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PaymentService29Jun', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PaymentService29Jun.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PaymentService29Jun_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PaymentService29Jun_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PaymentService29Jun].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PaymentService29Jun]
GO
/****** Object:  Table [dbo].[PaymentDetails]    Script Date: 03-08-2024 22:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentDetails](
	[Id] [varchar](500) NOT NULL,
	[TransactionId] [varchar](max) NOT NULL,
	[Tax] [decimal](18, 2) NOT NULL,
	[Currency] [varchar](10) NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[CartId] [int] NOT NULL,
	[GrandTotal] [decimal](18, 2) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_PaymentDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
