USE [StockService29Jun]
GO
/****** Object:  Table [dbo].[Stocks]    Script Date: 03-08-2024 22:19:29 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Stocks]') AND type in (N'U'))
DROP TABLE [dbo].[Stocks]
GO
USE [master]
GO
/****** Object:  Database [StockService29Jun]    Script Date: 03-08-2024 22:19:29 ******/
DROP DATABASE [StockService29Jun]
GO
/****** Object:  Database [StockService29Jun]    Script Date: 03-08-2024 22:19:29 ******/
CREATE DATABASE [StockService29Jun]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StockService29Jun', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\StockService29Jun.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StockService29Jun_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\StockService29Jun_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StockService29Jun].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StockService29Jun]
GO
/****** Object:  Table [dbo].[Stocks]    Script Date: 03-08-2024 22:19:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stocks](
	[StockId] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[LastUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_Stocks] PRIMARY KEY CLUSTERED 
(
	[StockId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Stocks] ON 

INSERT [dbo].[Stocks] ([StockId], [ProductId], [Quantity], [LastUpdated]) VALUES (1, 1, 98, CAST(N'2023-12-12T00:00:00.000' AS DateTime))
INSERT [dbo].[Stocks] ([StockId], [ProductId], [Quantity], [LastUpdated]) VALUES (2, 2, 95, CAST(N'2024-12-12T00:00:00.000' AS DateTime))
INSERT [dbo].[Stocks] ([StockId], [ProductId], [Quantity], [LastUpdated]) VALUES (3, 3, 100, CAST(N'2023-12-12T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Stocks] OFF
GO
USE [master]
GO
